/* {
    color:blue;
}

h1 {
    color:red;
}

p {
    color:blue;
}

button {
    color:white;
    background-color: green;
}

body {
    background-color: #BEB2C8;
}

#heading1 {
    color: yellow;
}

#heading2 {
    color: magenta;
}

#heading3 {
    color: brown;
}

.myClass {
    color:skyblue;
}

#box {
    background-color:blue;
}

.heading {
    color:red;
    text-align:center;
    text-decoration: black dotted underline;
    font-weight: normal;
}

button {
    background-color:green;
}

p {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

#one {
    font-size:10px;
    line-height:normal;
    text-transform: uppercase;
}

#two {
    font-size:25px;
}

#three {
    font-size:35px;
}

h1 {
    text-transform:capitalize;
    text-align:center;
    font-family:'Times New Roman';
}

#outer {
    font-size:25px;
}

#inner {
    font-size:10px;
}

 div {
    height:100px;
    background-color:pink;
    border-width:2px;
    border-style:dotted;
    border-color:brown;    border: 3px black dotted;
 }
 */

 /* div {
    height:100px;
    width:100px;
    background-color:pink;
    border: 2px brown solid;
    border-radius: 50%; 
    padding-left:25px;
    padding-right:25px; 
    padding:25px;
    margin:50px;
 }

 */

 /* #vidya {
    height:100px;
    width:100px;
    background-color:green;
    border-radius:50%;
 } 

 * {
    padding:0;
    margin:0;
    background-color:white;
 }

 #navbar {
    height:60px;
    background-color:black;
 }

 button {
    background-color:#f08804;
 }

 #logo {
    background-color:#f08804;
    font-size:25px;
 }

 a {
    margin-right: 200px;
 }

div {
    background-color: pink;
    display:inline;
}

button {
    background-color: aqua;
    display: block;
}

div {
    width:100px;
    height:100px;
    margin:25px;
    padding:25px;
    display:inline-block;
}

#box1 {
    background-color: rgba(0,0,255,0.5);
}

#box2 {
    background-color: rgba(0,0,255,0.75);
}

#box3 {
    background-color: rgba(0,0,255,1);
}

#navbar {
    height:60px;
    background-color:black;
}

#logo {
    margin-left:2px;
    color:#f08804;
    font-size: 25px;
}

a {
    margin-left:200px;
    color:white;
    text-decoration:none;
}

input {
    margin-left:200px;
}

button {
    color:white;
    background-color: #f08804;
}

#box {
    height:100px;
    width:100px;
    border: 2px solid black; 
    display: inline-block;
}

footer {
    background-color: black;
    color:white;
    text-align:center;
}

.contentBox {
    height:750px;
}

#box1 {
    height:100px;
    width:100px;
    background-color: yellow;
    font-size:10px;
}

#box2 {
    height:100vh;
    background-color: green;
    width: 5rem;
    margin-left:10%;
    font-size:2em;

}

div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1 {
    background-image: url("proffpic.jpg");
    background-size: cover;
}

div {
    height:100px;
    width:100px;
    background-image:url("proffpic.jpg");
    position:fixed;
    background-color: white;
}

body {
    text-align:center;
}

div {
    height:100px;
    width:50px;
    display:inline-block;
    border:2px solid black;
}

#container {
    height: 300px;
    width:700px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    /* flex-wrap:wrap; */
    /* align-items:center; 
    align-content:flex-start; */
/*

#box1 {
    background-color: aquamarine;
    flex-grow:1
}

#box2 {
    background-color: pink;
    height:200px;
    flex-grow:2;
    
}

#box3 {
    background-color: yellow;
    height:75px;
}

#box4 {
    background-color: red;
}

#box5 {
    background-color: purple;
}

.navbar {
    background-color: pink;
    display:flex;
    justify-content:space-evenly;
}

a {
    text-decoration: none;
    color:black;
    background-color: aqua;
}

li {
    list-style-type:none;
    display:inline;
}

#outer {
    height:400px;
    width:400px;
    background-color: cornflowerblue;
    display:flex;
    justify-content:center;
    align-items:center;
}

#inner {
    height:100px;
    width:100px;
    background-color: blueviolet;
    align-self:flex-start;
}

div {
    height:50px;
    width:50px;
    background-color: pink;
}

@media(width:600px) {
    div {
        background-color: red;
    }
}

@media(max-width:600px) {
    div {
        background-color: green;
    }
}

@media(min-width:200px) and (max-width:600px) {
    div {
        background-color: blue;
    }
}

div {
    height:100px;
    width:100px;
    background-color: black;
}

@media(max-width:300px) {
    div {
        background-color: green;
    }
}

@media(max-width:400px) and (min-width:300px) {
    div {
        background-color: pink;
    }
}

@media(max-width:600px) and (min-width:400px) {
    div {
        background-color: red;
    }
}

@media(min-width:600px) {
    div {
        background-color: blue;
    }
}
*/
 
/* div {
    height:100px;
    width:100px;
    background-color: aquamarine;
    border: 2px solid black;
    position:absolute;
    top:100px;
    left:100px;
    transition-property:all;
    transition-duration:2s;
    transition-timing-function:ease-in;
    transition-delay:1s;
    transition: all 2s ease-in 1s;
    rotate: z 90deg; 
    transform:scale(2);
    transition: all 2s ease-in;
    
}

div {
    height:100px;
    width:100px;
    border-radius:50%;
    background-color: aquamarine;
    border: 2px solid black;
    position:absolute;
    top:100px;
    left:100px;
    animation-name:colorAnimate;
    animation-duration:2s;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:reverse;
    animation:colorAnimate 2s 0s infinite alternate;
}

@keyframes colorAnimate {
    0% {
        left:0px;
        background-color: yellow;
    }
    50% {
        left:100px;
        background-color: blue;
    }
    100% {
        left:200px;
        background-color: red;
        color:white;
    }
} */

.loader {
    height:100px;
    width:100px;
    border-radius:50%;
    border:20px solid blue;
    border-top:20px solid black;
    position:absolute;
    left:100px;
    top:100px;
    animation-name:colorAnimate;
    animation-duration:3s;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
}

@keyframes colorAnimate {
    from {
        rotate: z 0deg;
    }
    to {
        rotate:z 360deg;
    }
}
